* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

#home {
  background: url("photos/summersky.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.scroll-icon {
  color: #c23b46c5;
  position: absolute;
  bottom: 1rem;
}

#home h2 {
  margin: 0;
}

h1 {
  color: #035579;
  font-size: 3.75rem;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  background-color: #00d8fe65;
  color: #035579;
  backdrop-filter: blur(3px);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #035579;
}

i {
  cursor: pointer;
}

#check {
  display: none;
}

nav a.active a:focus,
nav a:active,
nav a:hover,
.projects a:hover {
  color: #fe8690;
}

#btn,
#cancel {
  display: none;
}

.nav-ul {
  display: flex;
}

.nav-ul li {
  list-style-type: none;
  margin-right: 1rem;
  color: #035579;
}

.hashnode-link {
  text-decoration: underline;
}

#about {
  background-color: white;
}

.about,
.projects,
.articles,
.contact {
  max-width: 50rem;
  padding-top: 1rem;
  margin: 0 auto;
  text-align: left;
}

.about p {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #035579;
}

h2 {
  text-align: center;
  color: #035579;
  font-size: 2.5rem;
  margin: 3rem;
}

h3 {
  font-size: 1.6rem;
  margin: 2rem 0;
  color: #035579;
  line-height: 2rem;
}

.photo-grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 150px);
  margin: 0 auto;
  padding-top: 1rem;
  /* max-width: 90%; */
}

.teach {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-4 {
  grid-row: 2/5;
}

.item-5 {
  grid-row: 2/6;
}

.item-6 {
  grid-row: 2/4;
}

.item-7 {
  grid-row: 5/6;
}

.me,
.skills,
.contact {
  padding-left: 1rem;
  padding-right: 1rem;
}

.skills ul,
.projects ul {
  margin-left: 1rem;
}

.projects li {
  margin-bottom: 1rem;
  color: #035579;
}

.skills ul {
  display: flex;
  color: #035579;
}

.skills li {
  margin-right: 2rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
}

.skill-card {
  margin-bottom: 2rem;
}

.card {
  background-color: white;
  max-width: 20rem;
  margin-bottom: 5rem;
  margin-right: 1rem;
  padding: 1.5rem;
  box-shadow: rgba(254, 134, 144, 0.4) -5px 5px,
    rgba(254, 134, 144, 0.3) -10px 10px, rgba(254, 134, 144, 0.2) -15px 15px,
    rgba(254, 134, 144, 0.1) -20px 20px, rgba(254, 134, 144, 0.05) -25px 25px;
  /* box-shadow: rgba(3, 85, 121, 0.4) -5px 5px, rgba(3, 85, 121, 0.3) -10px 10px,
    rgba(3, 85, 121, 0.2) -15px 15px, rgba(3, 85, 121, 0.1) -20px 20px,
    rgba(3, 85, 121, 0.05) -25px 25px; */
}

#projects {
  background-color: #00d8fe65;
}

.projects {
  color: #035579;
}

.projects p,
.articles p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

.projects a {
  text-decoration: underline;
  margin-right: 1rem;
}

#contact {
  background-color: #00d8fe65;
}

.contact {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 31.25rem;
  margin: 0 auto;
}

input,
textarea {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 2px solid #035579;
}

button {
  padding: 0.7rem;
  background-color: #035579;
  color: white;
  border-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

.contact p {
  font-size: 1.5rem;
  color: #035579;
  margin-bottom: 1.5rem;
}

.icons {
  margin: 2rem;
}

.icons i {
  border: 1px solid #035579;
  padding: 1rem;
}

footer {
  background-color: #00d8fe65;
  color: #035579;
  padding: 1.4rem;
  text-align: center;
}

@media (max-width: 770px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .about p,
  .contact p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .skill-card ul {
    display: flex;
    flex-wrap: wrap;
  }

  .projects p,
  .articles p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
  }

  nav {
    font-size: 0.8rem;
  }

  @media (max-width: 740px) {
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form {
      max-width: 20rem;
    }
  }

  @media (max-width: 600px) {
    .responsive-nav {
      display: flex;
      justify-content: space-between;
    }

    .nav-ul {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #00d8fe65;
      backdrop-filter: blur(3px);
      padding-bottom: 3rem;
      margin-top: 2.3rem;
      height: 100vh;
      width: 100%;
      position: fixed;
      left: -100%;
      transition: all 2s;
    }

    .nav-ul li {
      margin-right: 0;
      font-weight: bold;
    }

    #btn {
      display: inline-block;
    }

    #check:checked ~ .nav-ul {
      left: 0;
    }

    #check:checked ~ label #btn {
      display: none;
    }

    #check:checked ~ label #cancel {
      display: inline-block;
    }
  }
}
